<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Bill</title>
        <link href="/assets/application.css" rel="stylesheet">
    </head>
    <body>
        <%=  yield %>
    </body>
</html>
